DATABASE_URL="postgresql://portafolio:portafolio@localhost:5433/portafolio_inversiones?schema=public"

JWT_ACCESS_SECRET="change-me"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="change-me"
JWT_REFRESH_EXPIRES_IN="7d"
